
    <div class="hero has-background-black-bis is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-one-two">
                        <div action="" class="box has-background-black-ter">

                            <div class="field">
                              <div class="content">
                                
                                <section class="columns">
  

                                <div class="container column is-10">
                                    <div class="section">
                                        
                                    <h1 class="is-centered">Message with AI</h1>

                                    <div class="card has-background-dark has-text-light">
                                        <div class="card-content"><div class="content">

                                        <%= form_tag("ai.rb") do %>
                                        
                                        <div class="field">
                                        <label class="label has-text-light">Model</label>
                                        <div class="control">
                                        <div class="select is-dark">
                                        <%= select_tag(:model, options_for_select([["Gemini-1.5-Flash", "gemini"],["Deepseek-R1", "deepseek"],["Meta-Llama-3.3", "llama"],["Liquid-lfm7b", "liquid"],["ChatGPT-4o", "chatgpt"]], params[:color] )) %>
                                        </div>
                                        </div>
                                        </div>
                                        
                                        <div class="field">
                                        <label class="label has-text-light">API key<font color="red">*</font></label>
                                        <%= text_field(:api_key, :field, :class => "input is-blue") %> 
                                        </div>
                                        
                                        <div class="field">
                                        <label class="label has-text-light">Message</label>
                                        <%= text_area(:message, :field, :class => "textarea") %> 
                                        </div>
                                        

                                        <br/>
                                        
                                    <div class="field has-text-centered">
                                    <%= submit_tag("Send", :class => "button has-background-light has-text-dark") %>
                                    </div>
                                        
                                        <% end %>
                                        
                                        </div></div>
                                    </div>
                                    <br />
                                    
                                    <div class="card has-background-dark has-text-light">
                                        <div class="card-header">
                                            <p class="card-header-title has-text-light">Output</p>
                                        </div>
                                        <div class="card-content">
                                        <div class="content">
                                            <div class="control"><p><%= @model_of_ai %></p>
                                            <textarea class="textarea" placeholder="Disabled textarea" rows="15"><%= @answer %> 
                                            </textarea>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    
                                    </div>
                                </div>
                                
                                </section>


                              </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>